.template {
  padding: 4rem 0;
}

.template-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
}

.item {
  background-color: aqua;
}


.kitchen {
  width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .template-center {
    grid-template-columns: 1fr 1fr;
  }
  .header{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
